<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!-- Register a new config section-->
	<configSections>
		<section name="HomeHealthDataProviders" type="HomeHealthSearch.HomeHealthDataProvidersSection" requirePermission="false"/>
	</configSections>
	<HomeHealthDataProviders homeHealthProviderName="xmlProvider" usersProviderName="xmlProvider">
		<HomeHealthProviders>
			<add name="xmlProvider" type="HomeHealthSearch.XmlHomeHealthProvider" schemaFile="HomeHealth.xsd" dataFile="HomeHealth.xml"/>
		</HomeHealthProviders>
		<UsersProviders>
			<add name="xmlProvider" type="HomeHealthSearch.XmlUsersProvider" schemaFile="Users.xsd" dataFile="Users.xml"/>
		</UsersProviders>
	</HomeHealthDataProviders>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<customErrors mode="Off"/>
	</system.web>
</configuration>
