/*======================
	RESET
========================*/

html{
	margin: 0;
	padding: 0;
	}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
body 
{
    font-family: Arial, Verdana, Helvetica, Helvetica-Narrow, Sans-Serif;
    margin: 0px;
    background: #FED36B url(../images/background_main.jpg) repeat-y center top;
    font-size: 12px;
    line-height: 1.8em;
	color: black;
	text-align:center; 
	background: #fff url(../images/site_background.png) repeat-x;
}

a:link
{
    color: #8A3700;
}
a:visited
{
    color: #542100;
}
a:hover
{
    text-decoration: none;
    color: #A45521;
}
a:active
{
    text-decoration: none;
    color: #000000;
}
ol, ul {
	list-style: none;
}

/* shows a visual seperation */
.dashedline
{
    border-bottom: 1px dotted #cccccc;
    padding-top: 10px;
    margin-bottom: 10px;
    clear:right;
}

/* tables still need 'cellspacing="0"' in the markup */
table 
{
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align:top;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
.sample{
	font-size: 10px;
	color: #666666;
	}
/*======================
	HEADER
========================*/
/*
The container div is what sets the width of your content and centers it in the browser. 
Each of your main divs will have a container div.
*/
.container
{
	margin:0 auto; /* Centers the div */
	width:960px; /*This is the width of your website */
	text-align:left; 
}
/*
Notice that the width of header is set to 100%.
This is so that the background will extend to the edge of the browser.
*/
#header
{
	/*background:url(../images/header_background.jpg) no-repeat 50% 0; */
	float:left; 
	width: 100%; 
	height:80px; 
}

#loginheader
{
	/*background:url(../images/header_background.jpg) no-repeat 50% 0; */
	float:left; 
	width: 100%; 
	height:50px; 
}

/*
The a element (which is usually an inline element) gets changed to a block element
so that it can easily be positioned. 
*/
#logo
{
	background:url(../images/logo.png) no-repeat;
	display:block; 
	position:relative;
	top:0;
	float:left; 
	width:294px; 
	height:46px; 	
}
#main-menu
{
	float:right;
	position:relative;
	top:10px; 
}
#main-menu li
{
	background-image:url(../images/main_menu.png);
	background-repeat:no-repeat;
	background-position:0 0;
	float:left;
	margin: 0 7px 0 7px;
	padding:0; 
	height:23px;
	list-style:none; 
	line-height:1; 	
}
/*
The over and active state get handled here.
Notice the use of negative pixels? This is the advantage of CSS sprites.
Instead of using two images to achieve the effect, we just use one and move it.
*/
#main-menu li:hover, #main-menu li.active { background-position: 0 -23px;}
#main-menu li:hover a, #main-menu li.active a{ background-position: 100% -23px; }
#main-menu li a
{
	background-image:url(../images/main_menu_right.png);
	background-repeat:no-repeat;
	background-position:100% 0;
	display:block; 
	padding:4px 10px 5px 10px;
	font-size:14px; 
	color:#fff; 
	text-decoration:none; 
	vertical-align:middle;
}

/*======================
	MAIN
========================*/
/*
The width is also set to 100% because there is a background image
that we want to go to the edge. 

Notice that height isn't set for #main, this is because it will need to expand
with the content. 
*/
#main
{
	/*background: #fff url(../images/main_background.png) repeat-x;*/
	float:left; 
	width:100%;
}

#wrapper
{
	background: url(../images/) no-repeat 50% 0;
	float:left; 	 
	width:100%; 		
}

#content
{
	background:url(../images/content_background.gif) repeat-y; 
	width:940px;
	margin:30px 10px; 
	min-height:515px;
	height:auto !important; /* IE 6 min-height fix */
	height:515px; /* IE 6 min-height fix */
}

#left-column
{
	width:640px; 
	float:left;  
}
#right-column
{
	float:left; 
	width:280px;
	padding:10px; 
}

.content
{
	float:left;
	padding:10px; 	
}
/*======================
	FOOTER
========================*/
/*
This adds the site bottom and makes it expand to the edge of the screen
like we did with #header and #main
*/ 
#footer
{
	background:url(../images/footer_bg.gif) repeat-x; 
	float:left; 
	width:100%;
	height:45px; 
	padding-top:30px;
	font-size:12px; 
	color:#fff; 
}
/*
Adds a 7px margin to the bottom of the menu
*/
#footer-menu 
{
	margin:0 0 0 0; 
	padding:0; 
}
#footer-menu li
{ 
	padding:0 6px 0 6px;
	display:inline;
	border-right:solid 1px #fff; 
	list-style:none;
	vertical-align:middle; 
}
/* 
This removes any inherited borders 
*/
#footer-menu li.last
{
	border-right:0; 	
}
/* 

*/
#footer-menu li a
{
	font-size:12px; 
	color:#999; 
	text-decoration:none; 		
}
/* Adds an underline when hovered or active */
#footer-menu li a:hover, #footer ul li.active a
{
	text-decoration:underline; 	
}
#footer #info
{	
	font-size:11px; 
	padding:0px 0 0 6px; 
	color: #ccc;
}

/* SEARCH FORM CSS*/
#searchwrapper{
	width:702px; /*follow your image's size*/
	height:49px;/*follow your image's size*/
	background:url(../images/searchbar_add.png) no-repeat;
	padding:0px;
	margin:0 auto;
	margin-bottom:10px;
	position:relative; /*important*/
	}
 
#searchwrapper form { display:inline ; }

#loginwrapper{
	width:519px; /*follow your image's size*/
	height:134px;/*follow your image's size*/
	background:url(../images/login_bg.png) no-repeat;
	padding:0px;
	margin:0 auto;
	position:relative; /*important*/
	}
 
#loginwrapper form { display:inline ; }

#serchbox{
	margin: 20px 0 10px 10px;
	}
	
.searchbox {
	position:absolute; 
	top:7px;
	left:20px;
	width:586px;
	height:38px;
	}
.searchbox_submit {
	border:1px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:5px;
	left:562px;
	width:36px;
	height:38px;
	}
.searchbox_all {
	border:1px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:5px;
	left:607px;
	width:36px;
	height:38px;
	}
	
.searchbox_info	{
	margin:0;
	padding:5px;
	color: #333;
	font-size: 0.9em;
	position:relative;
	line-height: 16px;
	}
	
.searchbox_create {
	border:1px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:5px;
	left:650px;
	width:36px;
	height:40px;
	}
	
.searchbox_info{
	margin:0;
	padding:0;
	color: #333;
	font-size: 0.9em;
	position:relative;
	line-height: 16px;
	}
	
.rightblock{
    border: 0px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    background: #fff
    position: relative;
    width:100%;
	}

.rightblock h2{
    font-size: 18px;
    font-weight: bold;
	}

.rightblock h3{
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    display: block;
	}

#login{
	margin:0;
	padding-top:25px;
	}
	
#login table
{
	margin: 0 auto;
}
/************************************************************************
* 
* List type pages
*
************************************************************************/

/* represents each item in a vertical list */

.listitem_main{
	width: 80%;
	}

.listitem{
	margin:0 ;
    width:100%;
}

/* surrounds the buttons for list items */
.editbuttons
{
    padding-top: 6px;
}

/* floats the thumbnail off to the right */
.thumbnail
{
    float: right;
    margin: 0 0 0 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

/*used to clear the float for the thumbnail */
.clearlist{
    clear:right;
    margin: 0;
    padding: 0;
    height: 0;
    font-size:0;
    line-height:0;
	}

/* Used by the page number control */
.PageNumbers
{
    display:inline;
}

.PageNumbers span
{
    padding-left: 3px;
}

.newscrumbs a
{
    font-weight: bold;
    padding-right: 2px;
}
.label
{
	display:block;
	width:145px;
	margin-right:10px;
	padding:0;
	font-weight: normal;
	font-size:1.2em;
	color: #999999;
	float:left;
	}


/*======================
	TOP
========================*/
/*
The home page is broken up into two rows. Each row is being 
wrapped by a #top and #bottom div. 
*/
#top
{
	float:left; 
	margin-bottom:1px; 
}
/*
The Photo div controls the placement and dimensions of the image. 
*/
#photo
{
	float:left; 
	margin-right:1px; 
	width:238px; 
	height:115px;
	border:0; 
}
/* Disables the border */
#photo img{ border: 0 }
/* 
This sets the landscape background image and sets the width
and height of the #into div
*/

#intro
{
	background:url(../images/intro_background.jpg) no-repeat; 
	float:left; 
	margin-left:1px;
	height:217px; 
	width:700px;	
}

#update{
	margin-top: 120px
	}

#update table{
	margin: 0 auto;
	font-family: Verdana, Arial,  Helvitica, Sans-Serif;
	color: #333;
	font-size: 12px;
	}
	
.error_msg{
	margin:0 auto;
	padding:6px;
	display: block;
	font-size:16px;
	font-weight:bold;
	color:Red;
	width: 380px;
	text-align:left;
}

